<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <title>{{ site.title }}</title>
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"><b><img src="{{ '/assets/branding/head.png' }}" width="205" height="180" alt="Boko"/></b></h1>
      <h2 class="project-name">Boko the Bobcat</h2>
      <h3 class="project-tagline">Eat'em Up Cats!</h3>
      {% if site.show_downloads %}
      <a href="http://twitter.com/xblainx" class="btn"><b>Twitter</b></a>
      <a href="http://snapchat.com/add/xblainx" class="btn"><b>Snapchat</b></a>
      {% endif %}

      <center>
      {% if site.social %}
      <!-- Twitter icon -->
      <span class="my-span-icon">
        <a href="https://twitter.com/{{ site.twitter.username }}" aria-label="{{ site.github.owner_name }}'s Twitter" title="{{ site.github.owner_name }}'s Twitter">
          <img src="{{ '/assets/social/twitter.png' }}" width="auto" height="auto"/></a></span>
      <!-- Instagram icon -->
      <span class="my-span-icon">
        <a href="https://instagram.com/{{ site.instagram.username }}" aria-label="{{ site.github.owner_name }}'s Instagram" title="{{ site.github.owner_name }}'s Instagram">
          <img src="{{ '/assets/social/instagram.png' }}" width="auto" height="auto"/></a></span>
      <!-- Snapchat icon -->
      <span class="my-span-icon">
        <a href="https://snapchat.com/add/{{ site.snapchat.username }}" aria-label="{{ site.github.owner_name }}'s Snapchat" title="{{ site.github.owner_name }}'s Snapchat">
          <img src="{{ '/assets/social/snapchat.png' }}" width="auto" height="auto"/></a></span>
      {% endif %}
    </center>
      <!-- Book me -->
    </header>

    <main id="content" class="main-content" role="main">
      <center>{{ content }}</center>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by TXST Cheer.</span>
        {% endif %}
        <span class="site-footer-credits">&copy; Copyright 2018, TXST Cheer Program</span>
      </footer>
    </main>
  </body>
</html>
